@import './materialize.scss';

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.brand-logo {
    position: relative;
}


#textarea-main {
    min-height: 5rem;
    max-width: 800px;
}

.latest-entry-header {
    font-size: 2rem;
}

main {
    margin: auto auto;
}

.article-author {
    margin-right: 2rem;
}


.article-date,
.article-author {
    display: inline-block;
    margin-top: 0;
}

