@import './materialize.scss';

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.brand-logo {
    position: relative;
}


#textarea-main {
    min-height: 5rem;
    max-width: 800px;
}

#add-entry-section {
    padding-top: 4rem;
}

.latest-entry-header {
    font-size: 2rem;
}

main {
    margin: auto auto;
}

.article-author {
    margin : 0;
    margin-right: 2rem;
    padding: .1rem .5rem;
}

.article {

    &-card {
        display: grid;
        grid-template-areas: "weather main";
        justify-items: center;
        align-items: center;
        justify-content: flex-start;
    }

    &-text-wrapper {
        grid-area: main;
    }
    &-title {
        font-size: 1.8rem;
    }
    &-body {
        padding: none;   
    }
    &-meta-wrapper {
        display: flex;
        align-items: center;
    }
    &-date {
        display: flex;
        align-items: center;
    }
}

figure {
    margin: 0;
    padding: 0;
}

#entries-header {
    margin-bottom: 4rem;
}

.weather-figure {
    grid-area: weather;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    overflow: hidden;
}

.weather-figcaption {
    text-align: center;
    font-weight: 700;
}

.weather-image {
width: 100%;
object-fit: cover;
}
.loc-icon {
    margin-right: .5rem;
}

@media (max-width: 600px) {
    .article-card {
        grid-template-areas: 
            "main"
            "weather";
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .article-meta-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}

