@import './materialize.scss';

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.brand-logo {
    position: relative;
}


#textarea-main {
    min-height: 5rem;
    max-width: 800px;
}

#add-entry-section {
    padding-top: 4rem;
}

.latest-entry-header {
    font-size: 2rem;
}

main {
    margin: auto auto;
}

.article-author {
    margin-right: 2rem;
}

.article {

    &-title {
        font-size: 2rem;
    }

    &-date,
    &-author {
        display: inline-block;
        margin-top: 0;
    }

    &-body {
        padding: none;   
    }
}

#entries-header {
    margin-bottom: 4rem;
}



